@use "partials/typography" as *;
@use "partials/mixins" as *;
@use "partials/variables" as *;



html{
    font-family: 'Avenir Next';
}

body{
    margin: 0px;
}
.navbar{
    background-color: $primary-background;
    width: 100%;
    height:5rem;
    
    &__head{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__logo{
        padding: 1rem 0px 0.8rem;
    }
    &__items{
        margin: 0px;
        padding: 0px;
        display: flex;
        justify-content:space-evenly;
    
    }
    &__list{
        list-style-type: none;
        font-weight: 500;
        color: $text-label;
        width: 50%;
        text-align: center;
    }
    @include tablet{
        box-sizing: border-box;
        padding-left: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    &__head{
        text-align: left;
        margin-right: 3.5rem;
    }
    &__items{
        height: 80px;
        align-items: center;
    }
    &__list{
        text-align: left;
        // @include sub-header;
        width: 5rem;
        margin-right: 3.5rem;
    }

    }
    @include desktop{
        padding: 0px 11.25rem;
    }

}

.hero{
    background: url(../assets/images/hero.jpg);
    height: 11.4rem;
    background-position: center;
    background-size: cover;
    // opacity: 50%;
    display: flex;
    align-items: center;
    // background-color: $primary-background 0.5;
    &__overlay{
        z-index: 2000;
        opacity: 0.5;
        position: absolute;
        top: 5rem;
        height: 11.4rem;
        left: 0;
        bottom: 0;
        background:$primary-background;
        right: 0;
    }
    &__header{
        z-index: 2000;
        margin: 0px;
        font-size: 1.5rem;
        line-height: 2rem;
        padding-left: 1rem;
        width: 60%;
        color: $secondary-background;
        @include lower-header
    }

    @include tablet{
        height: 25rem;
    &__header{
        padding-left: 1.5rem;
        @include hero-header;
        width: 70%;
    } 
    &__overlay{
        height: 25rem;
    }
    }
    @include desktop{
        height: 42.87rem;
    &__header{
        padding-left: 11.25rem;
        width: 40%;
    }
    &__overlay{
        height: 42.87rem;
    }
    }
}

.musicians{
    margin: 0px 1rem;
    @include sub-header;

    &__about{
        margin:2rem 0px 1.5rem 0px;
    }
    &__img{
        width: 100%; 
        // height: 9rem;       
    }
    &__quote{
        margin: 1.5rem 0px 2rem 0px;
        @include mob-sub-header;
    }
    &__quote-name{
        @include mob-sub-header;
        margin-bottom: 2.5rem;
    }
    &__name{
        @include mob-sub-header;
    }
    &__biography{
        @include mob-paragraph;
    }
    &_biography-1{
        margin:0px 0px 1.5rem 0px;
    }
    &__biography-2{
        margin: 0px 0px 2.5rem 0px;
    }

    @include tablet{
       margin: 0px 1.5rem 2rem; 
    &__about{
        @include header;
    }
    &__img{
        height: 22.6rem;
    }
    &__quote{
        @include lower-header;
    }
    &__quote-name{
        @include sub-header;
    }
    &__biography{
        display: flex;
        justify-content: space-between;
        @include paragraph;
        line-height: 1.5rem;
        letter-spacing: 0.05em;
    }
    &__biography-1{
        margin: 0px;
        margin-right: 0.75rem;
    }
    &__biography-2{
        margin: 0px;
        margin-left: 0.75rem;
    }

    }

    @include desktop{
        margin: 0px 11.25rem;
    &__about{
        margin: 3rem 0px ;
    }
    &__main{
        margin: 0px 5.75rem;
    }
    &__img{
        width: 100%;
        height: 28.125rem; 
    }
    &__quote{
        margin: 3rem 0px 2.5rem 0px;
    }
    &__pq{
        margin: 3.5rem 0px 2rem 0rem;
    }
    &__biography-1{
        margin: 0px 1.25rem 3rem 0px;
    }
    &__biography-2{
        margin-left: 1.25rem;
    }
    }
}

.gallery{
    background-color: $text-field-background;
    margin: 0px 1rem;

    &__title{
        padding: 2rem 0px 1.5rem 0px;
        margin: 0px;
    }
    &__photo{
        width: 100%;
        margin-bottom: 1rem;
    }

    @include tablet{
        margin: 0px 1.5rem;
    &__title{
        @include header;
    }
    &__photos{
        display: flex;
        justify-content:space-between;
        flex-wrap: wrap;
    }
    &__photo{
        width: 14rem;
        height: 7.87rem;
        margin-bottom: 1.5rem;
    }
    }

    @include desktop{
        padding: 0px 11.25rem 2.5rem;
        margin: 0px;
    &__title{
        padding: 3rem 0px 4rem 0px;
    }
    &__photo{
        width: 21.5rem;
        height: 12.06rem;
    }
    }
}

.footer{
    background-color: $primary-background;
    color: $secondary-background;
    padding: 0px 1rem 3rem 0.7rem;
    &__head{
        padding:2rem 0px;
        margin: 0px;
        @include lower-header;
    }
    &__links{
        padding: 0px;
        margin:0px;
        list-style: none;
        display: flex;
        justify-content:flex-start
    }
    &__link{
        padding-right: 2rem;
    }
    &__logo{
        display: none;
    }
    &__compname{
        @include mob-sub-header;
    }
    &__address, &__copyright, &__bottom{
        @include paragraph;
        font-weight: 200;
        color: $text-field-border;
    }
    
    @include tablet{
        padding: 0px 1.5rem 3rem;
    &__header{
        display: flex;
        justify-content:space-between;
        align-items: center;
    }
    &__head{
        width: 30%;
        @include header;
    }
    &__links{
        width: 30%;
        justify-content: flex-start;
    }
    &__logo{
        display: flex;
        width: 15%;
    }
    &__contacts{
        display: flex;
        justify-content: space-between;
    }
    }

    @include desktop{
        padding: 0px 11.25rem 3rem;
    &__contacts{
        display: flex;
        justify-content: flex-start;
    }
    &__contact{
        margin-right: 8rem;
    }
    &__header{
        display: flex;
        justify-content: flex-start;
    }
    &__head{
        padding: 3rem 0px 3.5rem 0px;
    }
    &__logo{
        width: 120px;
        height: 24px;
    }
    &__links{
        width: 60%;
    }
    &__compname h4{
        margin: 0px;
    }
    &__address p{
        margin: 1.5rem 0px;
    }
    &__copyright p{
        margin: 0px 0px 2.5rem;
    }
    }
}